@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hidden-row {
    display: none;
}

.apexcharts-text.apexcharts-datalabel-value {
    font-size: 22px !important;
    font-weight: 600 !important;
}

.profile-form {
    z-index: 99 !important;
}

@media only screen and (min-width: 767px)  {
    .messages {
        min-height: 620px !important;
        max-height: 720px !important;
    }
}

@media only screen and (max-width: 767px)  {

}
